@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@400;700&display=swap');

.mail-chimp{
    background: #000 url(./jeremy-bishop-G9i_plbfDgk-unsplash.jpg);
}

.mail-chimp h1{

    text-align: center;
    color: #fff;
    font-size: 40px;
    padding-top: 2.5%;

}


.mail-chimp p{

    text-align: center;
    color: #fff;
    font-size: 20px;

}


.container-chimp{
    max-width: 660px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 3%;
    padding-bottom: 5%;

}



form{
    background: #151515;
    border-radius: 12px;
    padding: 50px;


    padding-bottom: 20%;
    font-size: 28px;
    box-shadow: 0 40px 50px -50px #89fcf3;
}

form input{
    display: block;
    width: 100%;
    border-radius: 12px;
    border: none;
    font-size: 30px;
    padding: 15px;
    height: 40px;
    background: #242d3b;
    color: #fff;
    transition: 0.5s;
}

form input:focus{
    outline: none;
    box-shadow: 0px 10px 30px -20px #89fcf3;
    filter: contrast(85%);
}

form label{
    color: #cccdcf;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
}

form .subscribe{
    max-width: 300px;
    height: auto;
    background: #151515;
    border: #89fcf3 2px solid;
    border-radius: 45px;
    font-weight: bold;
    line-height: normal;
    margin: 0 auto -80px;
}

form .subscribe:hover{
    background: #89fcf3;
    color: #151515;
    cursor: pointer;
}

/*Mailchimp css*/

form .mc-field-group{
margin-bottom: 35px;
}

form .indicates-required{
    color: #cccdcf;
    font-size: 0.5em;
    margin: 35px 0;
    text-align: center;
}

form input + .mce_inline_error{
    display: inline-block;
    font-size: 0.5em;
    position: relative;
}

form input + .mce_inline_error:before{
content: '';
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid #6B0505;
position: absolute;
top: -10px;
}

form #mce-error-response{
    background: #6B0505;
    padding: 25px;
    text-align: center;
    color:#fff;
    border-radius: 12px;
    transition: 1s;
    animation: response 1s forwards;
}


form #mce-error-response a{
    color: #fff;
}

form label .asterisk{
color:#89fcf3 ;
font-size: 0.5em;
vertical-align: super;
}

@keyframes response{
    0%{
opacity: 0;
transform: translateY(20px) ;
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

